<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="mx-auto flex flex-col items-center">
  <div class="flex flex-col w-2/3">
    <!--EAN-->
    <!--<div class="relative border rounded border-slate-300 mx-2 mt-4 p-2 ">-->
    <!--  <input type="text" formControlName="ean" class="w-full " [ngClass]="{'bg-slate-200 text-slate-700':isEditMode}"-->
    <!--    [readOnly]="isEditMode" />-->
    <!--  <label class="absolute bg-white text-xs -top-2 left-4 px-2">-->
    <!--    EAN-->
    <!--  </label>-->
    <!--</div>-->

    <app-input label="EAN" formControlName="ean" [readOnly]="isEditMode" />
    <!--ProductName-->
    <!--<div class="relative border rounded border-slate-300 m-2 p-2 ">-->
    <!--  <input type="text" formControlName="name" class="w-full" />-->
    <!--  <label class="absolute bg-white text-xs -top-2 left-4 px-2">-->
    <!--    Product Name-->
    <!--  </label>-->
    <!--</div>-->
    <app-input label="Product Name" formControlName="name" />


    <!--buttons-->
    <div class="flex items-center justify-center gap-4 mt-4">
      <button btnStyle type="submit">Submit</button>
      <a btnStyle btnType="secondary" routerLink="/products">Cancel</a>
    </div>
  </div>
</form>
