<div class="flex flex-col items-center w-fit mx-auto">
  <h1 class="text-xl font-semibold mb-4">Products List</h1>
  <div class="overflow-x-auto p-2 flex flex-col">
    <a class="rounded-3xl px-5 py-3 bg-blue-700 text-xs text-white font-semibold hover:bg-blue-600  transition-colors cursor-pointer select-none self-end"
      routerLink="new">
      Add Product
    </a>
    <table class="min-w-full border-collapse border border-gray-300 mt-4">
      <thead>
        <tr class="bg-gray-200 rounded-xl">
          <th class="border border-gray-300 px-4 py-2 text-left font-medium">Product Id</th>
          <th class="border border-gray-300 px-4 py-2 text-left font-medium">Ean</th>
          <th class="border border-gray-300 px-4 py-2 text-left font-medium">Product Name</th>
          <th class="border border-gray-300 px-4 py-2 text-left font-medium">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products$ | async" class="even:bg-gray-100 odd:bg-white">
          <td class="border border-gray-300 px-4 py-2">{{product.productId}}</td>
          <td class="border border-gray-300 px-4 py-2">{{product.ean}}</td>
          <td class="border border-gray-300 px-4 py-2">{{product.name}}</td>
          <td class="border border-gray-300 px-4 py-2 text-xs"><a routerLink="edit/{{product.productId}}">
              <span class="material-symbols-outlined">
                edit
              </span>

            </a>
            <button (click)="onDelete(product)">
              <span class="material-symbols-outlined">
                delete
              </span>
            </button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
